/* Reset and global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #3F4E4F;
}

/* Header styles */
.page-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #181d1f;
}

#site-name {
    color: white;
    margin-left: 20px;
}

.home-nav-bar {
    width: 100%;
    position: relative;
    float: right;
}

.home-nav-button {
    text-align: center;
}

.home-nav-button h4 {
    display: inline;
}

#button {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

/* Body styles */
.page-body {
    width: 100%;
    padding: 20px;
    gap: 20px;
}

.container {
    /* display: flex;
    flex-direction: column;
    width: 48%; */
    /* min-width: 400px; */
    background-color: #2C3639;
    border-radius: 15px;
    margin-bottom: 20px;
}

.profile-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.profile-photo #photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    background-image: url('../imgs/kakashibw.jpg');
    background-size: cover;
    background-position: center;
}
.container h3, h4, h5 {
    text-align: center;
    color: white;
}
.lt h3 {
    color: white;
    width: 100%;
    text-align: center;
}

.container-lt {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    gap: 20px;
}

#langs, #tools, #env-other, #os, #contacts {
    display: flex;
    flex-direction: row;
    gap: 10px;
    /* tự động cho item xuống hàng dưới nếu không đủ chiều rộng */
    flex-wrap: wrap;
}
.container-center{
    width: 100%;
    display: flex;
    justify-content: center;
}
#contacts {
    justify-content: center;
    background-color:aliceblue;
    width: fit-content;
    padding: 3px 30px;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#contacts img {
    color: white;
    text-decoration: none;
}

.lt-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lt-items h6 {
    color: white;
}

#content {
    color: white;
    width: 100%;
}

/* Custom styles */
.container-line {
    width: 100%;
    height: 2px;
    background-color: #2C3639;
}

.container-title{
    background-color: #181d1f;
    height: 50px;
    width: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0;
    padding: 0;
}

#about-me{
    color: white;
    text-align: left;
    padding: 0 20px 0 20px;
}

/* icon img 32px style*/
.logo-32{
    width: 32px;
    height: 32px;
}
    
/* Responsive styles */
/* @media (max-width: 600px) {
    
} */

@media (max-width: 1038px) {
    .page-body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container {
        width: 100%;
    }
}

@media (min-width: 1039px) {
    /* Styles for large screens (desktops) */
    .page-body {
        /* display: grid;
        grid-template-columns: 1fr 1fr; */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        /* align-items: center; */
    }
    .container {
        width: 49%;
    }
}