* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #3F4E4F;
}

/* page-header begin */

.page-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #2C3639;
    margin: 0;
}

#site-name {
    color: white;
    margin-left: 20px;
}

.home-nav-bar {
    width: 100%;
    position: relative;
    float: right;
}

.home-nav-button {
    text-align: center;
}

.home-nav-button h4 {
    display: inline;
}

#button {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

/* page-header end */

/* page-body begin */
.page-body {
    width: 100%;
    padding: 20px;
}

.basic-info {
    margin-bottom: 20px;
}

.basic-info h3,
h4, h5 {
    text-align: center;
    /* margin-top: 10px; */
    color: white;
}

.profile-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.profile-photo #photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    background-image: url('../imgs/kakashibw.jpg');
    background-size: cover;
    background-position: center;
    background-position: 50% 60%;
}

.lt {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.lt h3 {
    color: white;
    width: 100%;
    text-align: center;
}

.container-lt {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    gap: 20px;
}

.container-langs-tools {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.langs-tools {
    width: 60px;
}

.lt-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lt-items h5 {
    color: white;
}

#content {
    color: white;
    width: 100%;
}

/* page-body end */

/* custom element */

.container-line {
    width: 100%;
    height: 2px;
    background-color: #2C3639;
}

.margin-20px {
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo-32 img{
    width: 32px;
    height: 32px;
}

/* custom element */

/* Phong cách cho các màn hình nhỏ (điện thoại) */
@media (max-width: 600px) {
}

/* Phong cách cho các màn hình trung bình (máy tính bảng) */
@media (min-width: 601px) and (max-width: 1024px) {
}

/* Phong cách cho các màn hình lớn (máy tính để bàn) */
@media (min-width: 700px) {
    .page-body {
        display: flex;
        /* justify-content: space-between; */
    }
    
    .basic-info, .lt{
        display: inline;
        width: 50%;
    }
}
