/* Reset and global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #3F4E4F;
}

body img {
    cursor: pointer;
}

/* Header styles */
.page-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #181d1f;
    box-shadow: black 5px 5px 15px;
}

#site-name {
    color: white;
    margin-left: 20px;
}

.home-nav-bar {
    width: 100%;
    position: relative;
    float: right;
}

.home-nav-button {
    text-align: center;
}

.home-nav-button h4 {
    display: inline;
}

#button {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

/* Body styles */
.page-body {
    width: 100%;
    padding: 20px;
    gap: 20px;
}

.container {
    /* display: flex;
    flex-direction: column;
    width: 48%; */
    /* min-width: 400px; */
    background-color: #2C3639;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: #181d1f 5px 5px 15px;
}

.profile-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.profile-photo #photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    background-image: url('../imgs/kakashibw.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: #181d1f 5px 5px 15px;
    border: white 2px solid;
}

.container h3,
h4,
h5 {
    text-align: center;
    color: white;
}

.lt h3 {
    color: white;
    width: 100%;
    text-align: center;
}

.container-lt {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    gap: 20px;
}

.container-lt h4 {}

#langs,
#tools,
#env-other,
#os,
#contacts {
    display: flex;
    flex-direction: row;
    gap: 15px;
    /* tự động cho item xuống hàng dưới nếu không đủ chiều rộng */
    flex-wrap: wrap;
}

.container-center {
    width: 100%;
    display: flex;
    justify-content: center;
}

#contacts {
    justify-content: center;
    background-color: aliceblue;
    width: fit-content;
    padding: 2px 20px;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 20px;
}

#contacts img {
    /* color: white; */
    text-decoration: none;
}

.lt-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lt-items h6 {
    color: white;
}

#content {
    color: white;
    width: 100%;
}

/* Custom styles */
.container-line {
    width: 100%;
    height: 2px;
    background-color: #2C3639;
}

.container-title {
    background-color: #181d1f;
    height: 50px;
    width: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0;
    padding: 0;
}

#about-me {
    color: white;
    text-align: left;
    padding: 0 20px 0 20px;
    font-size: 15px;
}

.container-ll {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 10px;
    opacity: 1;
    border-radius: 15px;
}

.locations-langs {
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.locations-langs h5,
h6 {
    color: white;
}

.locations-langs img {
    width: 32px;
}

/* icon img 32px style*/
.logo-16 img {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.logo-32 {
    width: 32px;
    height: 32px;
    transition: transform 0.5s;
    background-color: none;
    fill: none;
}

.logo-32:hover {
    transform: scale(1.4);
}

.logo-32 img {
    width: 100%;
    height: 100%;
}

.iframe-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    /* 16:9 aspect ratio */
    overflow: hidden;
}

.iframe-container iframe {
    position: absolute;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.container-ee {
    padding: 20px;
}

.container-ee #education {
    gap: 10px;
    margin: 10px;
}

.container-ee .education #item h5 {
    padding: 10px;
}

/* Responsive styles */
/* @media (max-width: 600px) {
    
} */

@media (max-width: 1038px) {
    .page-body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container {
        width: 100%;
    }
}

@media (min-width: 1039px) {

    /* Styles for large screens (desktops) */
    .page-body {
        /* display: grid;
        grid-template-columns: 1fr 1fr; */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        /* align-items: center; */
    }

    .container {
        width: 49%;
    }
}